
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Listar Jugador</title>

</head>

<body>
	<div layout:fragment="cargarpaginas">
		<h5 class="card-title fw-semibold mb-4">Crear Jugadores</h5>
		<form th:action="@{/jugadores/guardar}" th:object="${jugador}" method="post">
		  <input type="hidden" th:field="*{idJugador}" class="form-control" id="nombre">
			<div class="mb-3">
				<label for="nombre">Nombre</label> <input type="text" th:field="*{nombre}"
					class="form-control" id="nombre">
			</div>
			<div class="mb-3">
				<label for="apellido">Apellido</label> <input type="text" th:field="*{apellidos}"
					class="form-control" id="apellido">
			</div>
			<div class="mb-3">
				<label for="ident">Identificación</label> <input type="text" th:field="*{ci}"
					class="form-control" id="ident">
			</div>
			<div class="mb-3">
				<label for="fecha">Fecha Nacimiento</label>
				<input type="date" class="form-control" id="fecha" th:field="*{fechaNacimiento}">
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="estado" th:field="*{estadoRegsitro}">
				<label class="form-check-label" for="estado">Activo</label>
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>


	</div>
</body>

</html>