<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Registrar Empleado</title>
</head>
<body>
    <div layout:fragment="contenido" class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Registrar Nuevo Empleado</h1>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Formulario de Datos</h6>
            </div>
            <div class="card-body">
                <form th:action="@{/empleados/guardar}" th:object="${empleado}" method="post">
                    
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label class="font-weight-bold text-dark">Nombres</label>
                            <input type="text" class="form-control" th:field="*{nombres}" placeholder="Ej. Juan Andrés" required>
                        </div>
                        <div class="col-sm-6">
                            <label class="font-weight-bold text-dark">Apellidos</label>
                            <input type="text" class="form-control" th:field="*{apellidos}" placeholder="Ej. Pérez" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label class="font-weight-bold text-dark">Cédula</label>
                            <input type="text" class="form-control" th:field="*{cedula}" placeholder="1700000000" maxlength="10" required>
                        </div>
                        <div class="col-sm-6">
                            <label class="font-weight-bold text-dark">Correo Electrónico</label>
                            <input type="email" class="form-control" th:field="*{correo}" placeholder="ejemplo@gestalab.com" required>
                        </div>
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-success shadow-sm">
                        <i class="fas fa-save fa-sm text-white-50"></i> Guardar Registro
                    </button>
                    <a th:href="@{/empleados}" class="btn btn-secondary shadow-sm">
                        <i class="fas fa-times fa-sm text-white-50"></i> Cancelar
                    </a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>